In [6]:
import os 
import pandas as pd 

path='C:\\Users\\Juan Pablo Nicol치s\\Documents\\FISICA\\FISICA ESTUDIO\\MICROSCOPIA ELECTRONICA\\paper ecuacion Ene2021\\Sim_batch\\Testing estability'
files=os.listdir(path)

# Se busca estandarizar la lectura de los datos de intensidad de rayos x dados por el software CASINO,
### La lectura de los datos con formato .dat resultan muy poco c칩modos para hacer el an치lisis
### Como primer acercamiento a la lectura de estos datos, no se logr칩 el objetivo. Continua planteada la posibilidad

In [7]:
files_dat = [f for f in files if f[-4:] == '.dat']
files_dat

['TiN_Si_30kv_330_1.dat',
 'TiN_Si_30kv_330_10.dat',
 'TiN_Si_30kv_330_2.dat',
 'TiN_Si_30kv_330_3.dat',
 'TiN_Si_30kv_330_4.dat',
 'TiN_Si_30kv_330_5.dat',
 'TiN_Si_30kv_330_7.dat',
 'TiN_Si_30kv_330_8.dat',
 'TiN_Si_30kv_330_9.dat']

In [8]:
import csv

datContent =[i.strip().split() for i in open(path+'\\'+'TiN_Si_30kv_330_1.dat').readlines()] # the methods strip and split, are used to fix the data

with open(path+'\\'+'TiN_Si_30kv_330_1.csv', 'w') as f1:
    writer = csv.writer(f1)
    writer.writerows(datContent)

In [9]:
a='hola mundo bello '
c=a.strip()
a
c

'hola mundo bello'

In [32]:
datos=[]
for i in datContent:
    if len(i)==4 or (len(i)==3 and i[0]=='PRZ'):
        datos.append(i)
        print(i)
        print(len(i))
    else:
        continue

['PRZ', 'of', 'Ti', [0, 0]]
4
['Ka1:', '886.317', 'ABS:', '874.674']
4
['La1:', '175.954', 'ABS:', '65.3556']
4
['PRZ', 'of', 'N', [0, 0]]
4
['Ka1:', '201.728', 'ABS:', '122.258']
4
['PRZ', 'of', 'Si', [0, 0]]
4
['Ka1:', '13295.2', 'ABS:', '7175.69']
4

In [33]:
datos

[['PRZ', 'of', 'Ti', [0, 0]],
 ['Ka1:', '886.317', 'ABS:', '874.674'],
 ['La1:', '175.954', 'ABS:', '65.3556'],
 ['PRZ', 'of', 'N', [0, 0]],
 ['Ka1:', '201.728', 'ABS:', '122.258'],
 ['PRZ', 'of', 'Si', [0, 0]],
 ['Ka1:', '13295.2', 'ABS:', '7175.69']]

In [34]:
df = pd.DataFrame()

In [41]:
df=df.append(datos)
df

      0        1     2        3
0   PRZ       of    Ti   [0, 0]
1  Ka1:  886.317  ABS:  874.674
2  La1:  175.954  ABS:  65.3556
3   PRZ       of     N   [0, 0]
4  Ka1:  201.728  ABS:  122.258
5   PRZ       of    Si   [0, 0]
6  Ka1:  13295.2  ABS:  7175.69
0   PRZ       of    Ti   [0, 0]
1  Ka1:  886.317  ABS:  874.674
2  La1:  175.954  ABS:  65.3556
3   PRZ       of     N   [0, 0]
4  Ka1:  201.728  ABS:  122.258
5   PRZ       of    Si   [0, 0]
6  Ka1:  13295.2  ABS:  7175.69
0   PRZ       of    Ti   [0, 0]
1  Ka1:  886.317  ABS:  874.674
2  La1:  175.954  ABS:  65.3556
3   PRZ       of     N   [0, 0]
4  Ka1:  201.728  ABS:  122.258
5   PRZ       of    Si   [0, 0]
6  Ka1:  13295.2  ABS:  7175.69
0   PRZ       of    Ti   [0, 0]
1  Ka1:  886.317  ABS:  874.674
2  La1:  175.954  ABS:  65.3556
3   PRZ       of     N   [0, 0]
4  Ka1:  201.728  ABS:  122.258
5   PRZ       of    Si   [0, 0]
6  Ka1:  13295.2  ABS:  7175.69
0   PRZ       of    Ti   [0, 0]
1  Ka1:  886.317  ABS:  874.674
2  La1:  175.954  ABS:  65.3556
3   PRZ       of     N   [0, 0]
4  Ka1:  201.728  ABS:  122.258
5   PRZ       of    Si   [0, 0]
6  Ka1:  13295.2  ABS:  7175.69
0   PRZ       of    Ti   [0, 0]
1  Ka1:  886.317  ABS:  874.674
2  La1:  175.954  ABS:  65.3556
3   PRZ       of     N   [0, 0]
4  Ka1:  201.728  ABS:  122.258
5   PRZ       of    Si   [0, 0]
6  Ka1:  13295.2  ABS:  7175.69
0   PRZ       of    Ti   [0, 0]
1  Ka1:  886.317  ABS:  874.674
2  La1:  175.954  ABS:  65.3556
3   PRZ       of     N   [0, 0]
4  Ka1:  201.728  ABS:  122.258
5   PRZ       of    Si   [0, 0]
6  Ka1:  13295.2  ABS:  7175.69

In [45]:
df = pd.DataFrame()
dfp = pd.DataFrame()

In [75]:
dfp[2][5]

5    1.2828
5    1.2828
Name: 2, dtype: object

In [49]:
dfp=dfp.append(datContent)

In [67]:
for i in dfp.columns:
    dfp[i].astype('str').apply(lambda x: print(dfp[i].name) if x.startswith('ABS') else 'pass')

2
2
2
2
2
2
2
2
5
5
5
5
5
5
10
10

In [42]:
for f in files_dat:
    data = pd.read_csv(path+'\\'+'TiN_Si_30kv_330_1.csv', sep='delimiter', header=4)
    df = df.append(data)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [43]:
df.head(10)

,0,"0,1.28397,1.2828,1.41217,1.30427",PRZ,Ti,of,"Depth(nm),Intensity:,K,Intensity,K,ABS,Intensity:,LIII,Intensity:,LIII,ABS"
0,NaN,NaN,Intensities:,NaN,NaN,NaN
1,NaN,NaN,PRZ,N,of,NaN
2,NaN,NaN,Intensities:,NaN,NaN,NaN
3,NaN,NaN,0,1.3653,1.41623,NaN
4,NaN,NaN,19.8477,1.45521,1.59454,NaN
5,NaN,NaN,39.6953,1.42888,1.66166,NaN
6,NaN,NaN,59.543,1.40573,1.7372,NaN
7,NaN,NaN,79.3907,1.37006,1.79704,NaN
8,NaN,NaN,99.2383,1.33007,1.85378,NaN
9,NaN,NaN,119.086,1.26895,1.87822,NaN

In [14]:
df=df.dropna()

In [15]:
df

Empty DataFrame
Columns: [PRZ of Ti, Unnamed: 0, -----------------------------------------------------------------, Unnamed: 2]
Index: []

In [18]:
dfp=pd.DataFrame()

In [ ]:
data=pd.read_table(path+'\\'+f,error_bad_lines=False)
data

In [23]:
datan=pd.read_table(path+'\\'+'TiN_Si_30kv_330_1.dat',' ')
datan

ParserError: Error tokenizing data. C error: Expected 3 fields in line 3, saw 4

NameError: name 'datan' is not defined